@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

div#__next {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: auto;
  grid-template-rows: 60px 1fr 60px;
  height: 100%;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
